<div class="container text-center">
  <div class="col-md-6 offset-md-3">
    <div class="article-index font-weight-bold"><%= t('activerecord.attributes.article.article_new') %></div>
    
    <%= form_with(model: @article, url: user_articles_path, local: true, method: :post) do |f| %>
      <%= render "devise/shared/error_messages", resource: @article %>
      
      <div class="article-new">   
        <div class="article-label1">  
          <%= f.label t('activerecord.attributes.article.title')%>
        </div>
        <div class="article-field">
          <%= f.text_field :title, autofocus: true, autocomplete: "title", class: "form-control" %>
        </div>
        
        <div class="article-label2">
          <%= f.label t('activerecord.attributes.article.content') %>
        </div>
        <div class="article-field">
          <%= f.text_area :content, autocomplete: "content", class: "form-control" %>
        </div>
    
        <div class="article-label3">
          <%= f.label t('activerecord.attributes.article.image') %>
        </div>
        <div class="article-image">
          <%= f.file_field :image, class: 'form-control board_board_image' %>
        </div>

        <div class="actions text-center my-4">
          <%= f.submit t('activerecord.attributes.article.create_btn'), class: "btn btn-primary btn-lg" %>
        </div>
        
        <div class="article-back">
          <%= link_to t("devise.shared.links.back"), :back %>
        </div>
      </div>
    <% end %>
  </div>
</div>