<div class="container text-center">
  <div class="col-md-6 offset-md-3">
    <div class="article-index font-weight-bold">
      <%= t('activerecord.attributes.article.detail_view') %>
    </div>
  </div>

  <table class="table align-middle table-sm" id="table-articles">
    <thead>
      <tr>    
        <th><%= Article.human_attribute_name :title %></th>
        <th><%= Article.human_attribute_name :content %></th>
        <th><%= Article.human_attribute_name :image %></th>
      </tr>
    </thead>

    <tbody class="table-group-divider">
      <td><%= @article.title %></td>
      <td><%= @article.content %></td>
      <td><%= image_tag @article.image.url, :size => "200x200" if @article.image.present? %></td>
    </tbody>      
  </table>        
    
    <div class="container text-center">    
      <%= link_to t('activerecord.attributes.user.edit_title'), edit_user_article_path(@article), class: "btn btn-success" %>
      <%= link_to t('activerecord.attributes.user.delete_title'), user_article_path(@article), method: :delete,
                          data: { confirm: "削除してよろしいですか？" },
                          class: "btn btn-danger" %>
    </div>
    <div class="mt-4"><%= link_to t('activerecord.attributes.article.article_back'), user_articles_path(@article), class: "btn btn-primary" %></div>
</div>