<!DOCTYPE html>
<html>
  <head>
    <title>InternCurriculum</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h4 class="notice text-center mt-3"><%= notice %></h4>
    <h4 class="alert text-center mt-3"><%= alert %></h4>  

    <%= yield %>
  </body>
</html>
